<%- model_class = Invoice.new.class -%>
<table id="invoices" class="table table-striped table-hover">
  <thead>
    <tr>
      <!--th><%= model_class.human_attribute_name(:id) %></th-->
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:bedrijf) %></th>
      <th><%= model_class.human_attribute_name(:klant) %></th>
      <th><%= model_class.human_attribute_name(:datum) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
      <th><%= model_class.human_attribute_name(:total_inc_vat) %></th>
      <th style="width:16em;"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% invoices.each do |invoice| %>
      <tr>
        <!-- td><%= link_to invoice.id, invoice_path(invoice) %></td -->
        <% if invoice.offerte || invoice.offerte.nil? %>
          <td> <%= link_to "0"+invoice.id.to_s+"_OFFERTE", invoice_path( invoice ) %> </td>
        <% else %>
          <td><%= link_to invoice.number, invoice_path(invoice) %></td>
        <% end %>
        <td><%= link_to invoice.firm.name, firm_path(invoice.firm) %></td>
        <td><%= link_to invoice.client.name, client_path(invoice.client) %></td>
        <td><%= invoice.datum %></td>
        <td><%= to_euro( invoice.total_ex_vat ) %></td>
        <td>
            <% if invoice.no_vat %>
              NO VAT!
            <% else %>
              <%= to_euro( invoice.total ) %></td>
            <% end %>
        <td>
          <div class="btn-group">
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_invoice_path(invoice), :class => 'btn btn-mini' %>

            <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        invoice_path(invoice),
                        :method => :delete,
                        :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                        :class => 'btn btn-mini btn-danger' %>

            <%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %>


            <%= link_to t('Print PDF', :default => t("helpers.links.printpdf")),
              invoice_path(invoice, :format=>"pdf"), :class => 'btn btn-mini', :target=>'_blank' %>
          </div>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

